@charset "UTF-8";
.welcome-container {
  display: grid;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.welcome-container .welcome-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 2rem;
  text-align: center;
  padding: 1rem;
}
@media (min-width: 48rem) {
  .welcome-container .welcome-content {
    padding: 1.5rem;
  }
}
@media (min-width: 62rem) {
  .welcome-container .welcome-content {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 2rem;
  }
}
.welcome-container .welcome-content .welcome-title {
  text-align: center;
  margin: 0;
  max-width: 65%;
  margin: 0 auto;
  color: #D97A43;
}
@media (min-width: 36rem) {
  .welcome-container .welcome-content .welcome-title {
    max-width: 55%;
  }
}
@media (min-width: 62rem) {
  .welcome-container .welcome-content .welcome-title {
    grid-column: 1/-1;
    justify-self: center;
    max-width: 100%;
  }
}
.welcome-container .welcome-content .welcome-statement {
  display: grid;
  gap: 1rem;
  justify-content: center;
  text-align: start;
}
@media (min-width: 62rem) {
  .welcome-container .welcome-content .welcome-statement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/span 2;
    gap: 1rem;
  }
}
@media (min-width: 90rem) {
  .welcome-container .welcome-content .welcome-statement {
    gap: 2rem;
  }
}
.welcome-container .welcome-content .welcome-statement .statement-left {
  letter-spacing: 0.1em;
}
@media (min-width: 992px) {
  .welcome-container .welcome-content .welcome-statement .statement-left {
    margin-bottom: 0;
  }
}
@media (min-width: 90rem) {
  .welcome-container .welcome-content .welcome-statement .statement-left {
    padding: 3rem;
  }
}
.welcome-container .welcome-content .welcome-statement .statement-right {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0;
}
@media (min-width: 992px) {
  .welcome-container .welcome-content .welcome-statement .statement-right {
    display: block;
  }
}
@media (min-width: 90rem) {
  .welcome-container .welcome-content .welcome-statement .statement-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
.welcome-container .welcome-content .welcome-statement .statement-right li {
  background-color: rgba(34, 34, 34, 0.1);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-align: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "League Gothic", serif;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.6;
}
.welcome-container .welcome-content .welcome-statement .statement-right li::before {
  content: "✅";
  margin-right: 0.5rem;
}
@media (min-width: 576px) {
  .welcome-container .welcome-content .welcome-statement .statement-right li {
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  .welcome-container .welcome-content .welcome-statement .statement-right li {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .welcome-container .welcome-content .welcome-statement .statement-right li {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .welcome-container .welcome-content .welcome-statement .statement-right li {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) {
  .welcome-container .welcome-content .welcome-statement .statement-right li {
    margin: 0 0 0.5rem;
  }
}
@media (min-width: 992px) {
  .welcome-container .welcome-content .welcome-statement .statement-right li {
    width: 100%;
    padding: 1rem;
  }
}
.welcome-container .welcome-content .welcome-statement strong {
  color: #D97A43;
}
@media (min-width: 768px) {
  .welcome-container .welcome-content .welcome-statement {
    padding: 0 1.5rem;
  }
}/*# sourceMappingURL=welcome.css.map */