@use '../../variables/fonts/fonts.scss' as font;
@use '../../variables/colors/colors.scss' as colors;
@use '../../variables/utillities/utils.scss' as util;

.welcome-container {
    .welcome-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 1rem;
        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
            align-items: start;
        }

        .welcome-title {
            text-align: center;
            margin: 0;
            max-width: 80%;
            margin: 0 auto;
            color: colors.colorTheme(burntOrange);
            @media (min-width: 576px) {
                max-width: 65%;
            }
            @media (min-width: 768px) {
                max-width: 100%;
            }
            @media (min-width: 992px) {
                grid-column: 1 / -1;
                align-self: start;
                justify-self: center;
                margin: 0;
            }
        }

        .welcome-statement {
            grid-column: 1 / span 2;
            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            .statement-left {
                margin-bottom: 1rem;
                @media (min-width: 992px) {
                    margin-bottom: 0;
                }
            }

            .statement-right {
                @include util.list-style(column, 0.5rem);
                padding-left: 0;
                @media (min-width: 992px) {
                    display: block; 
                }
                li {
                    @include util.list-item-style(rgba(colors.colorTheme(appDarkGrey), 0.1), 0.5rem 1rem, 15px);

                    @media (min-width: 576px) { 
                        margin: 0 0 0.5rem;
                    }
                    @media (min-width: 992px) { 
                        width: 100%; 
                    }
                }

            }

            strong {
                color: colors.colorTheme(burntOrange);
            }

            @media (min-width: 768px) {
                padding: 0 1.5rem;
            }
        }
    }
}