@use '../../variables/colors/colors.scss' as colors;
@use '../../variables/utillities/utils.scss' as util;
@use '../../variables/fonts/fonts.scss'as font;
.welcome-container {
    display: grid;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    .welcome-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        gap: 2rem;
        text-align: center;
        padding: 1rem;

        @media (min-width: 48rem) {
            padding: 1.5rem;
        }

        @media (min-width: 62rem) {
            grid-template-columns: 1fr 1fr;
            align-items: start;
            padding: 2rem;
        }

        .welcome-title {
            text-align: center;
            margin: 0;
            max-width: 65%;
            margin: 0 auto;
            color: colors.colorTheme(burntOrange);
            @media (min-width: 36rem) {
                max-width: 55%;
            }
            @media (min-width: 62rem) {
                grid-column: 1 / -1;
                justify-self: center;
                max-width: 100%;
            }
        }

        .welcome-statement {
            display: grid;
            gap: 1rem;
            justify-content: center;
            text-align: start;
            @media (min-width: 62rem) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column: 1 / span 2;
                gap: 1rem;
            }

            @media (min-width: 90rem) {
                gap: 2rem;
            }

            .statement-left {
                letter-spacing: 0.1em;
                @media (min-width: 992px) {
                    margin-bottom: 0;
                }

                @media (min-width: 90rem) {
                    padding: 3rem;
                }
            }

            .statement-right {
                @include util.list-style(column, 0.5rem);
                padding-left: 0;
                @media (min-width: 992px) {
                    display: block; 
                }

                @media (min-width: 90rem) {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                }

                li {
                    @include util.list-item-style(rgba(colors.colorTheme(appDarkGrey), 0.1), 0.5rem 1rem, null); // Remove fixed font-size
                    @include font.font-theme(default); 
                    @include font.responsive-font-size('p'); 
            
                    @media (min-width: 576px) { 
                        margin: 0 0 0.5rem;
                    }
                    @media (min-width: 992px) { 
                        width: 100%; 
                        padding: 1rem;
                    }
                }
            }

            strong {
                color: colors.colorTheme(burntOrange);
            }

            @media (min-width: 768px) {
                padding: 0 1.5rem;
            }
        }
    }
}