@use 'sass:math';
@use 'sass:color';
@use '../reset/reset.scss';
@use '../variables/fonts/fonts.scss' as font;

body {
    box-sizing: border-box;
    @include font.font-theme(default);
    @include font.text-transform(none);
    .h1, .h2, .h3, .h4, .h5, .h6 {
        @include font.font-theme(title);
        @include font.text-transform(none); // Override potential uppercase for titles
    }

    .h1 {
        font-size: font.title(xs);
    }

    p {
        @include font.font-theme(default);
    }

    .pac-container {
        z-index: 2050;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }
}