@use 'sass:math';
@use 'sass:color';
@use '../reset/reset.scss';
@use '../variables/fonts/fonts.scss' as font;

body {
    @include font.font-theme(default);
    .h1, .h2, .h3, .h4, .h5, .h6 {
        @include font.font-theme(title);
    }

    .h1 {
        font-size: font.title(title);
    }

    p {
        font-size: font.default(default);
    }

    .container, .col {
        padding: 0;
        margin: 0;
    }

    .pac-container {
        z-index: 2050;
    }

    // Ensure containers don't overflow
    .container {
        box-sizing: border-box;
        max-width: 100%;
        overflow: hidden; // Prevent overflow from child elements
    }

    @media (max-width: 376px) {
        .container {
            display: grid;
        }

        .h1 {
            font-size: math.div(font.title(title), 1.2);
        }

        p {
            font-size: math.div(font.default(default), 1.1);
        }
    }

    @media (min-width: 377px) and (max-width: 540px) {
        .container {
            max-width: 100%;
        }
    }

    @media (min-width: 541px) and (max-width: 767px) {
        .container {
            max-width: 540px;
        }
    }
}