@use 'sass:math';
@use 'sass:color';
@use '../reset/reset.scss';
@use '../variables/fonts/fonts.scss' as font;

body {
    @include font.font-theme(default);
    .h1,.h2,.h3,.h4,.h5,.h6 {
        @include font.font-theme(title);
    }

    .h1 {
        font-size: font.title(title);
    }

    p {
        font-size: font.default(default);
    }

    .container {
        padding: 0;
        margin: 0;
    }
}
