@use '../variables/fonts/fonts.scss' as font;
@use '../variables/colors/colors.scss' as colors;

.modal-dialog {
  max-width: 30rem;
  width: calc(100% - 2rem);
  margin: 1rem auto;
  padding: 0;

  .modal-content {
    border-radius: 0;
    background-color: colors.colorTheme(burntOrange);
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 36rem;

    .modal-container {
      border-radius: 0;
      border: 1px solid colors.colorTheme(appBlack);
      background-color: colors.colorTheme(appGrey);
      width: 100%;
      box-sizing: border-box;
      z-index: 1060;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-content {
        background-color: colors.colorTheme(appGrey);
        padding: 1rem;
        border: none;
        overflow: hidden;
        width: 100%;
        max-width: 30rem;

        .modal-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          border:none;
          .modal-title {
            line-height: 1;
            font-size: 1.125rem;
            color: colors.colorTheme(burntOrange);
            @include font.font-theme(title);
            @media (min-width: 576px) {
              font-size: 1.5rem;
            }
          }
          .pomade-logo {
            width: 3rem;
            height: 3rem;
          }

          .btn-close {
            background-color: colors.colorTheme(appWhite);
            border: 1px solid colors.colorTheme(appBlack);
            border-radius: 0;
            margin: 0;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: darken(colors.colorTheme(appWhite), 10%);
            }
          }
        }

        .sale-modal-body {
          color: colors.colorTheme(appWhite);
          overflow: hidden;
          padding: 1rem;

          .animate-div {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 100%;

            .product-card, .cart-product-card {
              width: 100%;
              height: auto;
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: auto;
              gap: 1rem;
              border: none;
              border-radius: 0;
              overflow: hidden;

              .product-img {
                width: 7rem;
                height: 7rem;
                max-width: 100%;
                align-self: center;
                justify-self: center;
              }

              .product-title {
                display: flex;
                gap: 0.5rem;
                justify-self: center;
                @include font.font-theme(default);
                color: colors.colorTheme(appWhite);
                @media (max-width: 767px) {
                  font-size: 1.1em;
                  line-height: 1.5;
                  font-weight: 500;
                }
              }
            }

            .product-card {
              grid-template-rows: repeat(3, minmax(min-content, max-content));
              align-items: center;
              justify-content: center;

              .cart-items {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                gap: 1rem;

                .cart-count {
                  position: absolute;
                  top: 0;
                  left: 5.35rem;
                  color: colors.colorTheme(burntOrange);
                }

                .cart-btn {
                  padding: 0.5rem 1.5rem;
                  box-shadow: 0 2px 5px rgba(217,122,67,1.0);
                  background-color: colors.colorTheme(appWhite);
                  color: colors.colorTheme(burntOrange);
                  border: none;
                  cursor: pointer;
                  transition: all 0.3s ease;
                  &:hover {
                    background-color: colors.colorTheme(burntOrange);
                    color: colors.colorTheme(appWhite);
                    transform: translateY(-2px);
                    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                  }
                }
              }

              .product-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 0.5rem;

                .product-btn {
                  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                  max-width: 14rem;
                  align-self: center;
                  justify-self: center;
                  background-color: colors.colorTheme(appWhite);
                  color: colors.colorTheme(burntOrange);
                  border: none;
                  padding: 0.5rem 1.25rem;
                  margin-bottom: 1rem;
                  cursor: pointer;
                  transition: all 0.3s ease;
                  &:hover {
                    background-color: colors.colorTheme(burntOrange);
                    color: colors.colorTheme(appWhite);
                    transform: translateY(-2px);
                    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                  }
                  &:active {
                    background-color: darken(colors.colorTheme(burntOrange), 10%);
                    transform: translateY(0) scale(0.98);
                    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
                  }
                }
              }
            }

            .cart-product-card {
              grid-template-rows: repeat(4, auto);
              justify-items: center;
              align-items: start;
              overflow: hidden;
              @media (min-width: 768px) {
                gap: 1.5rem;
              }

              .cart-details {
                display: grid;
                grid-template-columns: repeat(3, minmax(min-content, max-content));
                grid-template-rows: auto;
                justify-content: center;
                align-content: start;
                row-gap: 0.5rem;
                overflow: hidden;

                .cart-item {
                  display: grid;
                  grid-template-columns: 1fr;
                  grid-template-rows: repeat(2, minmax(min-content, max-content));
                  gap: 0.25rem;
                  text-align: center;
                  align-items: center;
                  justify-content: center;
                  @media (max-width: 767px) {
                    padding: 0.25rem;
                    gap: 0.5rem;
                  }

                  .cart-price {
                    align-self: center;
                    justify-self: center;
                  }
                }

                .quantity-control {
                  grid-column: 1 / -1;
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  gap: 0.25rem;
                  justify-self: center;

                  .cart-count {
                    align-self: center;
                    justify-self: center;
                  }

                  .quantity-btn {
                    padding: 0.5rem 1.5rem;
                    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                    background-color: colors.colorTheme(burntOrange);
                    color: colors.colorTheme(appBlack);
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                      background-color: colors.colorTheme(appBlack);
                      color: colors.colorTheme(appWhite);
                      transform: translateY(-2px);
                      box-shadow: 0 2px 5px rgba(217,122,67,1.0);
                    }
                  }
                }

                .cart-form {
                  grid-column: 1 / -1;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  gap: 0.5rem;
                  padding-bottom: 0.5rem;

                  .cart-check {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.3rem;

                    .term-link {
                      color: colors.colorTheme(burntOrange);
                      text-decoration-color: colors.colorTheme(appWhite);
                      text-underline-offset: 6px;
                      &:hover {
                        color: colors.colorTheme(appWhite);
                        text-decoration-color: colors.colorTheme(appBlack);
                      }
                    }
                  }

                  .cart-buttons {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    @media (max-width: 991px) {
                      flex-direction: column;
                      align-items: center;
                      gap: 0.5rem;
                    }
                    @media (min-width: 992px) {
                      flex-direction: row;
                    }
                  }

                  .cart-btn {
                    padding: 0.5rem 1.5rem;
                    box-shadow: 0 2px 5px rgba(217,122,67,1.0);
                    background-color: colors.colorTheme(appWhite);
                    color: colors.colorTheme(burntOrange);
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    margin-top: 1rem;
                    &:hover {
                      background-color: colors.colorTheme(burntOrange);
                      color: colors.colorTheme(appWhite);
                      transform: translateY(-2px);
                      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .modal-dialog {
    width: calc(100% - 1rem);
  }
}