@use '../../variables/utillities/utils.scss' as util;
@use '../../variables/colors/colors.scss' as colors;
@use '../../variables/fonts/fonts.scss' as font;

.testament-container {
    padding: 0;
    text-align: center;
    .testament-title {
        @include font.font-theme(title);
        color: colors.colorTheme(burntOrange);
    }

    .carousel {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 3rem;
        width: 100%;
        overflow:hidden;
        cursor: grab;
        @media (min-width: 48rem) {
            flex-direction: row;
        }
        .use-spring-carousel-main-wrapper {
            align-items: center;
            justify-content: center;
            .use-spring-carousel-item {
                align-items: center;
                justify-content: center;
                padding: 1rem;
                @media (min-width: 48rem) {
                    max-width: 50%;
                }

                @media (min-width: 62rem) {
                    max-width: 35%;
                }

                @media (min-width: 70rem) {
                    max-width: 35%;
                }
                
                .testament-card {
                    .card-img-overlay {
                        display: grid;
                        align-items: end;
                        padding: 1rem;
                        // background: linear-gradient(to top, rgba(colors.colorTheme(burntOrange), 0.8), rgba(colors.colorTheme(burntOrange), 0));
                        .testament-body {
                            @include font.font-theme(default);
                            .testament-text, .testament-name {
                                color: colors.colorTheme(appWhite);
                            }
                        }
                    }
                }
            }
        }
    }
}