@use '../variables/utillities/utils.scss' as util;
@use '../variables/colors/colors.scss' as colors;

.home-container {
    @include util.section-style;
    display: grid;
    overflow: hidden;
    .home {
        display: grid;
        grid-template-rows: repeat(6, minmax(min-content, max-content));
        @include util.section-style;
        .col {
            padding: 0;
        }
    }

    .hero-section, .footer-section {
        @include util.section-style;
       
        .col {
            padding: 0;
            .card {
                @include util.card-style;
                .card-img {
                    @include util.card-img-style;
                }
                .card-img-overlay {
                    @include util.card-img-overlay-style;
                    
                    .call-action {
                       @include util.call-action();
                    }

                    .card-title {
                        @include util.card-title-style;
                        grid-row: 2;
                        grid-column: 1 / span 2;
                    }
                    .card-body {
                        @include util.card-body-style;
                        grid-row: 3;
                        grid-column: 1 / span 2;
                        .card-text {
                            @include util.text-style(1rem, normal, colors.colorTheme(appWhite)); 
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .hero-section {
        .col {
            .card {
                .card-img-overlay {
                    display: grid;
                    grid-template-rows: repeat(4, minmax(min-content,max-content));
                    grid-template-columns: repeat(4,minmax(min-content,max-content));
                    
                    .call-action-container {
                        grid-row: 2;
                        grid-column: 1;
                        align-self: start;
                        justify-self: start;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        position: relative;
                        width: 100%;
                        .call-action-title {
                            position: absolute;
                            top: -3rem;
                            left: 7.5rem;
                            max-width: 50%;
                            color: colors.colorTheme(appWhite);
                            margin: 0;
                            cursor: pointer;
                            .blessed-title {
                                color: colors.colorTheme(appWhite);
                            }
                            .blessed {
                                color: colors.colorTheme(burntOrange);
                            }
                        }
                    }
                }
            }
        }
    }
}