@use '../../variables/utillities/utils.scss' as util;
@use '../../variables/colors/colors.scss' as colors;

.product-section {
    border: 2px solid colors.colorTheme(burntOrange);
    @include util.section-style;
    @include util.responsive-spacing(padding);
    .product-container {
        @include util.product-container-style;
        .animate-div {
            @include util.animate-div-style;
            .product-row {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;

                @media (min-width: 62rem) {
                    grid-template-columns: repeat(2, 1fr);
                    padding: 0 2rem;
                }
                
                .product-col, .special-offer-col {
                    @include util.section-style;
                    @include util.responsive-spacing(padding);
                }

                .pomade-product-card {
                    @include util.product-card-style;
                    height: 100%;
                    .cart-items {
                        @include util.cart-items-style;
                        .cart-icon {
                            color: colors.colorTheme(appWhite);
                        }

                        .cart-count {
                            position: relative;
                            top: -0.5em;
                            left: -0.5em;
                            background-color: transparent; 
                            color: colors.colorTheme(burntOrange);
                            width: 1.5rem;
                            height: 1.5rem;
                        }

                        .cart-btn {
                            @include util.cart-button();
                        }
                    }

                    .product-img {
                        @include util.product-img-style(7rem, 7em);
                        @media (min-width: 62rem) {
                            width: 10rem;
                            height: 10rem;
                        }
                    }

                    .product-details {
                        @include util.product-details-style;
                        .product-btn {
                            @include util.product-button();
                        }

                        .product-title, .product-price {
                            letter-spacing: 0.1em;
                            @media (max-width: 48rem) {
                            }
                        }

                        .product-title {
                            display: flex;
                            gap: 0.5rem;
                            margin: 0;
                            justify-self: center;
                            text-transform: capitalize;
                        }

                        .product-price {
                            margin: 0;
                        }
                    }
                }

                .special-offer-card {
                    @include util.card-style;
                    padding: 1rem;
                    height: auto; // Changed to auto to allow content-driven height
                    background-color: colors.colorTheme(appGrey);
                    border: 1px solid colors.colorTheme(burntOrange);
                    color: colors.colorTheme(appWhite);
                    text-align: center;
                    @media(min-width: 62rem) {
                        display: grid;
                        align-items: center;
                        min-width: 30rem;
                        min-height: 30rem;
                    }
                    .card-title {
                        @include util.text-style(2rem, 700, colors.colorTheme(burntOrange), 1.2); // Increased font size
                        @media (min-width: 62rem) {
                            font-size: 3rem;
                        }

                    }

                    .card-text {
                        @include util.text-style(1.5rem, 400, colors.colorTheme(appWhite), 1.5);
                        @media (min-width: 62rem) {
                            font-size: 2.25rem;
                        }
                    }
                }
            }

            .cart-product-card {
                @include util.product-card-style;
                width: 100%;
                height: 100%;
                text-align: center;
                .product-img {
                    @include util.product-img-style(7rem, 7em);
                    @media (min-width: 992px) {
                        width: 10rem;
                        height: 10rem;
                    }
                }

                .product-title {
                    @include util.product-title-style;
                    display: flex;
                    gap: 0.5rem;
                    margin: 0;
                    justify-self: center;
                    color: colors.colorTheme(appWhite);
                    @media (max-width: 767px) {
                    }
                }

                .cart-details {
                    @include util.cart-details-style;
                    .cart-item {
                        @include util.cart-item-style;
                        @media (max-width: 767px) {
                            padding: 0.5rem;
                        }
                    }

                    .quantity-control {
                        @include util.quantity-control-style;
                        .cart-count {
                            align-self: center;
                        }
                        .quantity-btn {
                            @include util.count-button();
                        }
                    }

                    .cart-form {
                        @include util.cart-form-style;
                        .cart-check {
                            @include util.cart-check-style;
                            @media (max-width: 767px) {
                                gap: 0.3rem;
                            }
                            .form-check-input {
                                @include util.form-check-input-style;
                            }
                            .form-check-label {
                                @include util.form-check-label-style;
                                .term-link {
                                    @include util.term-link-style;
                                }
                            }
                        }

                        .cart-buttons {
                            @include util.cart-buttons-style;
                        }
            
                        .cart-btn {
                            @include util.cart-button();
                        }
                    }
                }
            }
        }
    }
}