@use '../variables/utillities/utils.scss' as util;
@use '../variables/colors/colors.scss' as colors;

.footer {
    background-color: colors.colorTheme(appDarkGrey);
    color: colors.colorTheme(appWhite);
    padding: 2rem 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;

    .business-image {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
        .blessed-logo {
            width: 3rem;
            height: 3rem;
        }
        .blessed-title {
            margin: 0;
            color: colors.colorTheme(appWhite);
        }
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1.125rem;
        width: 100%;
        max-width: 1200px;

        .col {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0;

            .footer-title {
                margin: 0;
            }

            p, a {
                color: colors.colorTheme(appWhite);
                text-decoration: none;
                letter-spacing: 0.04em;
            }

            .footer-list {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 0.25rem;
                }
            }

            .email-link {
                align-self: start;
                text-decoration: underline;
                text-underline-offset: 6px;
                color: colors.colorTheme(burntOrange);
                text-decoration-color: colors.colorTheme(appWhite);
                &:hover {
                    color: colors.colorTheme(appWhite);
                    text-decoration-color: colors.colorTheme(burntOrange);
                }
            }
        }
    }

    .footer-copyright {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        padding: 0;
        margin-top: 1rem;

        .copyright-section, .developer-section {
            color: colors.colorTheme(appWhite);
            line-height: 1.5;

            .developer-copyright {
                a {
                    color: colors.colorTheme(appWhite);
                    text-decoration: underline;
                    &:hover {
                        color: colors.colorTheme(lightGrey);
                    }
                }

                @media (min-width: 62rem) {
                    display: flex;
                    gap: 1rem;
                }
            }

            .copyright {
                margin: 0;
                display: flex;
                gap: 0.5rem;
                @media (min-width: 62rem) {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}