@use '../variables/utillities/utils.scss' as util;
@use '../variables/colors/colors.scss' as colors;
@use '../variables/fonts/fonts.scss' as font;
.navbar {
    grid-row: 1;
    grid-column: 1;
    align-self: start;
    .container {
        @include util.no-padding; 
        .navbar-toggler {
            border: 2px solid colors.colorTheme(lightGrey);
            border-radius: 0;
            .navbar-toggler-icon {
                background-image: util.$toggler-icon;
            } 
        }
    }
}

.offcanvas {
    @include util.offcanvas-style;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content,max-content));
    cursor: pointer;
    
    .offcanvas-header {
        display: flex;
        gap: 0.5rem;
        @media (min-width: 62rem) {
            @include util.offcanvas-header-style;
            display: grid;
            grid-template-rows: repeat(2, minmax(min-content,max-content));
            @include util.responsive-spacing(gap); 
        }
        overflow: hidden;
        .nav-title {
            color: colors.colorTheme(appWhite);
            font-size: 1.125rem;
        }
        .pomade {
            @include util.header-logo-style;
            grid-row: 1;
            justify-self: start;
        }

        .btn-close {
            @include util.close-button-style;
            grid-row: 1;
            justify-self: end;
            align-self: start;
        }
    }

    .offcanvas-body {
        .navbar-nav {
            .link {
                @include util.nav-item-style;
            }

            .shop {
                letter-spacing: 0.2em;
                @include font.font-theme(title);
                color: colors.colorTheme(appWhite);
            }
        }
    }
}

// Media query for screens >= 992px
@media (min-width: 992px) {
    .navbar {
        grid-row: 1;
        grid-column: 2;
        .container {
            display: flex;
            justify-content: space-between;
        }

        .navbar-toggler {
            display: none;
        }
    }

    .offcanvas {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        background-color: transparent;
        padding: 0;
        .offcanvas-header {
            display: none;
        }

        .offcanvas-body {
            display: flex;
            justify-content: flex-end; 
            padding: 0;
            .navbar-nav {
                flex-direction: row;
                gap: 1.5rem;
                align-items: center;
            }
        }
    }
}